/* Colors & Fonts */

:root{
    --color-primary: #0F172A;
    --color-grey-light: #64748B;
    --color-grey-light2: #e2e8f0;
    --font-size: 62.5%;
}

/* Page Layout */

.content {
    display: flex;
    min-height: 58.625rem;
}

.sidebar {
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 16%;
    border-right: 1px solid #E2E8F0;
    margin-right: 0.625rem;
}

.main {
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid #E2E8F0;
}

/* Sidebar Elements */

.side-nav {
    font-size: 1rem;
    list-style: none;
    margin-top: 1.2rem;
    padding-left: 1rem;
}

.side-nav__item {
    position: relative;
    padding: .5rem 1rem;
}

.side-nav__item:not(:last-child){
    margin-bottom: .5rem;
}

.side-nav__item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: .188rem;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform .2s, 
                width .4s ease-in-out .2s,
                background-color .1s;
    border-radius: .5rem;
}

.side-nav__item:hover::before,
.side-nav__item--active::before{
    transform: scaleY(1);
    width: 100%;
}

.side-nav__item:active::before {
    background-color: var(yellow);
}

.side-nav__link:link,
.side-nav__link:visited {
    position: relative;
    color: var(--color-grey-light);
    text-decoration: none;
    z-index: 10;
}

.bottomInfo {
    display: inherit;
    flex-direction: column;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.bottomInfo h4 {
    font-size: 1rem;
    color: var(--color-grey-light);
    margin-bottom: .8rem;
}

.credits span {
    font-size: .875rem;
}

.credits span {
    color: var(--color-grey-light);

}

.credits hr {
    width: 90%;
    margin: 0.2rem 0;
    color: var(--color-grey-light2);
    opacity: .5;
}

/* Main Elements */

.accounts {
    width: 100%;
    display: inherit;
    flex-wrap: wrap;
    padding: 3.5rem 2rem;
}

.accounts img{
    width: 11.125rem;
    height: 11.125rem;
    margin: 0 1.6rem 1.2rem 0;
}

.search {
    width: 36.5rem;
    display: inherit;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    padding: .5rem;
    border: 1px solid var(--color-grey-light2);
    border-radius: .5rem;
    box-shadow: 0.313rem 0.313rem 0.4rem .1rem var(--color-grey-light2);
}

.search__button {
    border: 0;
    background: transparent;
}

.search__button:focus {
    outline: none;
}

.search__button:active {
    transform: translateY(2px);
}

.search__button .search__icon {
    width: 1.2rem;
    height: 1.2rem;
}

.search__input {
    border: 0;
    width: 100%;
    padding: .2rem .8rem;
    font-size: 1rem;
}

.search__input:focus{
    outline: none;
}

/* AccountPlanB Page */

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 0 0 2rem;
}

.details__top {
    display: inherit;
    flex-direction: row;
    margin-bottom: 2rem;
}

.details__top .overview {
    flex-basis: 16%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overview .service {
    width: 11.125rem;
    height: 11.125rem;
    margin-bottom: 1rem;
}

.overview .summary {
    width: 11.125rem;
    padding: 1.5rem 1.2rem;
    border: 0.05rem solid var(--color-grey-light2);
    border-radius: 0.4rem;
    box-shadow: 0.15rem 0.15rem 0.3rem .1rem var(--color-grey-light2);
}

.summary h5 {
    font-size: .9rem;
}

.summary p {
    color: var(--color-grey-light);
    line-height: 1.2;
}
.details__bottom {
    padding: .8rem 0 .8rem 1rem;
    border: 0.05rem solid var(--color-grey-light2);
    border-radius: 0.4rem;
    box-shadow: 0.05rem 0.1rem 0.2rem .1rem var(--color-grey-light2);
}

.details__bottom h5 {
    font-size: .9rem;
    margin-bottom: 0.5rem;
}

.opportunities {
    width: 69.563rem;
    display: flex;
    padding-left: 1rem;
}

.opportunity {
    width: 10.125rem;
    height: 9.063rem;
    padding: 1rem 0 0 1.2rem;
    margin-right: 2rem;
    border: 0.05rem solid var(--color-grey-light2);
    border-radius: 0.4rem;
    box-shadow: 0.05rem 0.1rem 0.2rem .1rem var(--color-grey-light2);
}

.opportunity h6 {
    font-size: .9rem;
    margin-bottom: 0.28rem;
}

.opportunity p {
    line-height: 1.2;
}

.opportunity h6, p {
    color: var(--color-primary);
}

.opportunity .calendar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0.4rem;
}

.calendar img {
    width: 1rem;
    height: auto;
    margin-right: 0.4rem;
}

.calendar span {
    font-size: .9rem;
    color: var(--color-grey-light);
}

/* Tabs */

.tabs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 28.125rem;
    height: 15.625rem;
}