/* Colors & Fonts */

:root{
    --color-primary: #0F172A;
    --color-grey-light: #64748B;
    --font-size: 62.5%;
}

/* Page Layout */

.content {
    display: flex;
    min-height: 58.625rem;
}

.sidebar {
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 16%;
    border-right: 1px solid #E2E8F0;
    margin-right: 0.625rem;
}

.main {
    display: inherit;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid #E2E8F0;
}

/* Sidebar Elements */

.side-nav {
    font-size: 1rem;
    list-style: none;
    margin-top: 1.2rem;
    padding-left: 1rem;
}

.side-nav__item {
    position: relative;
    padding: .5rem 1rem;
}

.side-nav__item:not(:last-child){
    margin-bottom: .5rem;
}

.side-nav__item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: .188rem;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform .2s, 
                width .4s ease-in-out .2s,
                background-color .1s;
    border-radius: .5rem;
}

.side-nav__item:hover::before,
.side-nav__item--active::before{
    transform: scaleY(1);
    width: 100%;
}

.side-nav__item:active::before {
    background-color: var(yellow);
}

.side-nav__link:link,
.side-nav__link:visited {
    position: relative;
    color: var(--color-grey-light);
    text-decoration: none;
    z-index: 10;
}

.bottomInfo {
    display: inherit;
    flex-direction: column;
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.bottomInfo h4 {
    font-size: 1rem;
    color: var(--color-grey-light);
    margin-bottom: .8rem;
}

.credits span {
    font-size: .875rem;
}

.credits span, hr {
    color: var(--color-grey-light);

}

.credits hr {
    width: 90%;
    margin: 0.2rem 0;
    opacity: 0.5;
}

/* Main Elements */

.accounts {
    width: 100%;
    display: inherit;
    flex-wrap: wrap;
    padding: 3.5rem 2rem;
}

.accounts img{
    width: 11.125rem;
    height: 11.125rem;
    margin: 0 1.6rem 1.2rem 0;
}

.search {
    width: 100%;
    min-width: 35%;
    display: inherit;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.search__button {
    border: 0;
    background: transparent;
}

.search__button:focus {
    outline: none;
}

.search__button:active {
    transform: translateY(2px);
}

.search__button .search__icon {
    width: 1.2rem;
    height: 1.2rem;
}

